{% extends 'common/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

{% include 'common/headercss.html' %}

  <form method="post" action=".">

      {% csrf_token %}

      <center><h3>Audit Schedule</h3></center>

        <div class="pad1">
          {{form.schedule_auditype|as_crispy_field}}
        </div>


        <div class="pad1">
          {{form.schedule_job_code|as_crispy_field}}
        </div>


        <div class="pad1">
          {{form.schedule_sub_job_code|as_crispy_field}}
        </div>


        <div class="container d-flex h-100 dropdown pad3" >
          <div class="col-form-label col-lg-2">
            <b>Auditor List*</b>  </div><button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Select</button>
                <div class=" dropdown-menu left">
                      <a href="#" >{{ form.schedule_auditor_list}}</a>
                    </div>

          </div>



          <div class="container d-flex h-100 dropdown pad3" >
            <div class="col-form-label col-lg-2">
              <b>Auditee List*</b>  </div><button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Select</button>
                  <div class=" dropdown-menu left">
                    <a href="#" >{{ form.schedule_auditee_list}}</a>
              </div>

          </div>


          <div class="pad1">

            {{form.schedule_audit_date|as_crispy_field}}

            {% include 'common/datepicker.html' %}
          </div>



          <div class="pad1">
            {{form.schedule_audit_time|as_crispy_field}}
            {% include 'common/timepicker.html' %}
          </div>


          <div class="pad1">
            {{form.schedule_iso_year|as_crispy_field}}
          </div>

          <div class="container d-flex h-100 dropup pad3" >
            <div class="col-form-label col-lg-2">
              <b>Final Auditor List*</b>  </div><button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Select
                  </button>
                  <div class=" dropdown-menu left">
                        <a href="#" >{{ form.schedule_final_auditor_list}}</a>
                      </div>

            </div>



            <div style="display:none;">
              {{form.schedule_project}}

            </div>

            <center>
              <div class="pad3">
                <input type="reset"  value="Reset" class="btn btn-success">
                <button type="submit" class="btn btn-success">Submit</button>
                <a href="{% url 'QMS:auditscheduleview' %}" class="btn btn-success">Back</a>
              </div>
            </center>



            </form>

              {% include 'common/auditschedule_ajax.html' %}

{% endblock %}

<!--
<input type='text' class="form-control" />
<span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
        </span> -->

<!-- <div class="date">
<label>{{form.schedule_audit_date.label_tag}}</label><div style="padding-left:90px"> <input id="datepicker" name="schedule_audit_date" width="270" /></div>
{% include 'common/bootstdatapic.html' %}
</div> -->






                <!-- <div class="multiselect">
                      <ul>
                        {%for i in employeedetails%}
                        <li><input type="checkbox" name="schedule_auditee_list" value="{{i.id}}">{{i.emp_name}}</li>
                        {%endfor%}
                      </ul>

                    </div> -->
