{% extends 'common/base.html' %}

{% load static%}
{% block content %}


<form  method="post" action=".">
  {% csrf_token %}
        <table  class="table table-striped table-bordered" style="width:100%" id='dtBasicExample'>
            <thead>
                <tr>
                    <th>Cls Ref No</th>
                    <th>Activity Title</th>
                    <th>Auditor Comments</th>
                    <th>Auditee Comments</th>
                    <th>Auditee Status</th>
                    <th>Verified Comments(Auditor)</th>
                    <th>Verified Status</th>
                    <th>Mr Comments</th>
                    <th>Mr Status</th>
                </tr>
            </thead>
            <tbody>
                {% for ac in auditorcomments %}
                <tr>
                    <td>{{ac.cls_refno}}</td>
                    <td>{{ac.description}}</td>
                    <td>{{ac.auditor_comments}}</td>

                    {%if ac.comment_status == 2%}
                        {%for nc in ncrcomments%}
                          {%if ac.id == nc.command_id|add:0%}
                              <td>{{nc.corrective_action}}<br>
                              <!-- bootstrap for NCR popup -->
                              <button type="button" style="background-color:#666600;" class="btn btn-primary btn-xs" id='mybutton{{nc.id}}' data-toggle="modal" data-target="#myModal{{nc.id}}">NCR</button>

                                {% include 'common/ajax_load_page.html' %}

                              <div class="modal fade" tabindex="-1" id="myModal{{nc.id}}" role="dialog"  aria-hidden="true">
                                <div class="modal-dialog modal-lg" id = "{{nc.id}}">
                                  <div class="modal-content">
                                    <div id='imported_area{{nc.id}}'>

                                    </div>
                                      <div class="modal-footer d-flex justify-content-center" >
                                      <button type="button" class="btn btn-default" style="background-color:#666600;" data-dismiss="modal">Close</button>
                                      </div>
                                  </div>
                                </div>
                              </div>
                            </td>
                              {%endif%}
                          {%endfor%}
                    {%else%}
                    <td>{{ac.auditee_correction}}</td>
                    {%endif%}
                    <td>{%if ac.auditee_status == 0%}In Progress{%elif ac.auditee_status == 1%}Completed{%endif%}</td>
                    <td>{{ac.verified_comments}}</td>
                    <td>{%if ac.verified_status == 0%}Yet-verify{%elif ac.verified_status == 1%}Re-submit{%elif ac.verified_status == 2%}Verified{%endif%}</td>

                    <input type="hidden" name="id" value="{{ac.id}}">
                    {%if ac.mr_comments == None %}<td>{{form.mr_comments}}</td>{%else%}<td><textarea type="text" rows= "2" cols="22" name="mr_comments" required>{{ac.mr_comments}}</textarea></td>{%endif%}

                    <td><select  name="mr_status" id="MySelect" required>
                      <option value="">--- Select ---</option>
                      <option value="0" {%if ac.mr_status == 0 %} selected {%endif%}>To Review</option>
                      <option value="1" {%if ac.mr_status == 1 %} selected {%endif%}>Clarified</option>
                      <option value="2" {%if ac.mr_status == 2 %} selected {%endif%}>Accepted</option>
                    </select></td>

                {% endfor %}
            </tbody>
        </table>
        <div style="text-align:center">

          <a href="{% url 'QMS:auditscheduleview' %}" class="btn btn-success">Back</a>
          <button type="submit" class="btn btn-success">Save</button>

          <a href="{% url 'QMS:sendmailmr' auditschedule.id %}" class="btn btn-success">Submit</a>

        </div>

</form>

{% include 'common/footerbootstr.html' %}

{% endblock  %}
