{% extends "common/base.html" %}

{% load crispy_forms_tags %}
{% load static %}

{% block content %}

  {% include 'common/headercss.html'%}


<form action="." method="post">
  {%csrf_token%}
  <h1>Work Manual</h1>

      <div class="container d-flex h-100 dropdown pad3" >
        <div class="col-form-label col-lg-2">
          <b>Audit Type:</b>  </div><button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Select
              </button>
              <div class=" dropdown-menu left">
                    <a href="#" >{{ form.audit_typ}}</a>
              </div>
      </div>

      <div class="pad1">
        {{form.cls_ref_no|as_crispy_field}}
      </div>

      <div class="pad1">
        {{form.activity_title|as_crispy_field}}
      </div>

      <div class="pad1">
        {{form.ISO_certification_year|as_crispy_field}}
      </div>

      <div class="container d-flex h-100 dropdown pad3" >
        <div class="col-form-label col-lg-2">
          <b>Project/Tender:</b>  </div><button class="btn btn-primary dropdown-toggle"  type="button" data-toggle="dropdown">Select
              </button>
              <div class=" dropdown-menu left" style="list-style-type:none">
                    <a href="#" >{{ form.type_of_projectortender}}</a>
              </div>
      </div>

    <div class="pad1">
  {%include 'superadmin/formset.html'%}


  <div style="text-align:center">
    <button type="submit" class="btn btn-success">Submit</button>
    <a href="{% url 'QMS:workmanualview' %}" class="btn btn-success">Back</a>
    <input type="reset" value="Reset" class="btn btn-success">
  </div>

</form>
  {% endblock %}
